<div class="navmenu">
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink href="/recipes">
                Recipes
            </NavLink>
        </li>
        <li>
            <NavLink href="/foods">
                Foods
            </NavLink>
        </li>
        <li>
            <NavLink href="/mealplans">
                Meal Plans
            </NavLink>
        </li>
        <li>
            <NavLink href="/inventory">
                Inventory
            </NavLink>
        </li>
        <li>
            <NavLink href="/shoppinglists">
                Shopping Lists
            </NavLink>
        </li>
    </ul>
</div>

@code {
    // Add any necessary code for the NavMenu component
}
