@page "/shoppinglists/{ShoppingListId:int}"

<h1>Shopping List Detail</h1>

<p>This page will show the details for shopping list with ID @ShoppingListId.</p>

@code {
    [Parameter]
    public int ShoppingListId { get; set; }
}
