@page "/mealplans/{MealPlanId:int}"

<h1>Meal Plan Detail</h1>

<p>This page will show the details for meal plan with ID @MealPlanId.</p>

@code {
    [Parameter]
    public int MealPlanId { get; set; }
}
